@page "/"
@using Microsoft.Extensions.Localization
@using SimpleEventAccountingMobile.Services.Interfaces
@inject NavigationManager NavigationManager
@inject IStringLocalizer Localizer
@inject IAppInfoService AppInfoService
@inject IErrorService ErrorService

<PageTitle>Главная</PageTitle>

<div class="hero-container">
    <div class="hero-content">
        <h1 class="hero-title">Simple Event Accounting</h1>
        <p class="hero-subtitle">
            Ваш надежный помощник для учета событий и клиентов.
        </p>
        <button class="btn btn-primary btn-lg hero-cta-button mt-2 big-button-icon" @onclick="GoToClients">
            <span class="bi bi-people" aria-hidden="true"></span>
            Клиенты
        </button>

        <button class="btn btn-primary btn-lg hero-cta-button mt-2 big-button-icon" @onclick="GoToCreateEvent">
            <span class="bi bi-rocket" aria-hidden="true"></span>
            Провести событие
        </button>

        <button class="btn btn-primary btn-lg hero-cta-button mt-1 big-button-icon" @onclick="GoToConductTraining">
            <span class="bi bi-universal-access-circle" aria-hidden="true"></span>
            Провести тренировку
        </button>

    </div>

    <!-- Version information at the bottom -->
    <div class="version-container">
        <p class="version-text">Версия: @_appVersion</p>
    </div>
</div>

@code {

    string? _appVersion;

    protected override void OnInitialized()
    {
        try
        {
            _appVersion = AppInfoService.GetAppVersion();
        }
        catch (Exception ex)
        {
            ErrorService.ShowError(ex, "Ошибка загрузки страницы");
        }
    }

    private void GoToClients()
    {
        NavigationManager.NavigateTo("/clients");
    }

    private void GoToConductTraining()
    {
        NavigationManager.NavigateTo("/conduct-training");
    }

    private void GoToCreateEvent()
    {
        NavigationManager.NavigateTo("/create-event");
    }

}