@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Главная</PageTitle>

<div class="hero-container">
    <div class="hero-content">
        <h1 class="hero-title">Simple Event Accounting</h1>
        <p class="hero-subtitle">
            Ваш надежный помощник для учета событий и клиентов.
        </p>
        <button class="btn btn-primary btn-lg hero-cta-button" @onclick="GoToClients">
            <span class="bi bi-people" aria-hidden="true"></span>
            Клиенты
        </button>
        
        <button class="btn btn-primary btn-lg hero-cta-button" @onclick="GoToTrainings">
            <span class="bi bi-universal-access" aria-hidden="true"></span>
            Тренеровки
        </button>
        
        <button class="btn btn-primary btn-lg hero-cta-button" @onclick="GoToConductTraining">
            <span class="bi bi-universal-access-circle" aria-hidden="true"></span>
            Провести тренеровку
        </button>
    </div>
</div>

@code {
    private void GoToClients()
    {
        NavigationManager.NavigateTo("/clients");
    }

    private void GoToConductTraining()
    {
        NavigationManager.NavigateTo("/conduct-training");
    }

    private void GoToTrainings()
    {
        NavigationManager.NavigateTo("/trainings");
    }
}