/* Pages/Index.razor.css */

.hero-container {
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    min-height: 85vh; /* Занимает почти всю высоту экрана */
    text-align: center;
    padding: 2rem;
    background: linear-gradient(135deg, #f5f7fa 0%, #e2e8f0 100%); /* Мягкий градиентный фон */
    border-radius: 12px;
    margin: 1rem;
}

.hero-content {
    max-width: 700px;
}

.hero-title {
    font-size: 3.5rem; /* Крупный размер шрифта */
    font-weight: 700;
    color: #1a202c; /* Темно-серый, почти черный */
    margin-bottom: 1rem;
    /* Эффектный градиентный текст (опционально, но выглядит круто) */
    background: -webkit-linear-gradient(45deg, #4c51bf, #6b46c1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-subtitle {
    font-size: 1.3rem;
    color: #4a5568; /* Более светлый серый для подзаголовка */
    margin-bottom: 2.5rem;
    line-height: 1.6;
}

.hero-cta-button {
    min-width: 200px;
    /*padding: 1rem 2.5rem;*/ /* Большая кнопка */
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 20px; /* Круглые края */
    border: none;
    background-color: #4c51bf;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.hero-cta-button:hover {
    transform: translateY(-3px); /* Легкий подъем при наведении */
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    background-color: #434190;
}

/* Адаптация для маленьких экранов */
@media (max-width: 768px) {
    .hero-title {
        font-size: 2.5rem;
    }

    .hero-subtitle {
        font-size: 1.1rem;
    }
}

.footer {
    text-align: center;
}

/* Version container styles */
.version-container {
    display: none;
    text-align: center;
    padding: 1rem;
    /*margin: 0 1rem 1rem 1rem;*/
    background-color: #f8f9fa;
    border-radius: 8px;
    border: 1px solid #e9ecef;
    margin-top: 30vh;
   
}

.version-text {
    margin-top: 100px;
    font-size: 0.9rem;
    color: #6c757d;
    margin: 0;
    font-style: italic;
}

@media (max-width: 768px) {
    .version-container {
        display: block;
    }
}